In [1]:
import pandas as pd

df = pd.read_csv('https://storage.googleapis.com/py_ml_datasets/olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

# 問題一#
哪個國家贏得的夏季奧運金牌數最多？

def answer_one():
    ```
    這個函數應該回傳一個文字，國家名
    ```
    
    return "答案"

'United States'

In [0]:
def answer_one():
  
  return df["Gold"].idxmax()

In [0]:
print(answer_one())

United States

###問題二
哪個國家夏季奧運與冬季奧運的金牌數差距最大？

def answer_two():
  ```  
    這個函數應該回傳一個文字，國家名
 ```    
    return "答案"

In [0]:
def answer_two():
  
  return (df["Gold"]-df["Gold.1"]).abs().idxmax()
print(answer_two())

United States

###問題三
哪個國家夏季奧運與冬季奧運的金牌數差距除以總金牌數的比例最大？（僅考慮至少有一個夏季金牌與一個冬季金牌的國家）
```
Summer Gold−Winter GoldTotal Gold
def answer_three():
```
    這個函數應該回傳一個文字，國家名
 ```
    return "答案"

In [0]:
def answer_three():
  newdf=df[(df["Gold"]!=0) & (df["Gold.1"]!=0)]
  return ((newdf["Gold"]-newdf["Gold.1"]).abs()/(newdf["Gold"]+newdf["Gold.1"])).idxmax()
print(answer_three())

Bulgaria

####問題四
計算 146 個國家的獎牌點數，其中金牌 3 點、銀牌 2 點、銅牌 1 點。

def answer_four():
```   
    這個函數應該回傳一個 Series，長度為 146
```    
    return "答案"

In [0]:
def answer_four():
  return (df["Gold"]+df["Gold.1"]+df["Gold.2"])*3+(df["Silver"]+df["Silver.1"]+df["Silver.2"])*2+(df["Bronze"]+df["Bronze.1"]+df["Bronze.2"])
print(answer_four())
print(type(answer_four()))
print(answer_four().size)

Afghanistan                             4
Algeria                                54
Argentina                             260
Armenia                                32
Australasia                            44
Australia                            1846
Austria                              1138
Azerbaijan                             86
Bahamas                                48
Bahrain                                 2
Barbados                                2
Belarus                               308
Belgium                               552
Bermuda                                 2
Bohemia                                10
Botswana                                4
Brazil                                368
British West Indies                     4
Bulgaria                              822
Burundi                                 6
Cameroon                               24
Canada                               1692
Chile                                  48
China                                2240
Colombia                               58
Costa Rica                             14
Ivory Coast                             4
Croatia                               134
Cuba                                  840
Cyprus                                  4
                                    ...
Spain                                 536
Sri Lanka                               8
Sudan                                   4
Suriname                                8
Sweden                               2434
Switzerland                          1260
Syria                                  12
Chinese Taipei                         64
Tajikistan                              8
Tanzania                                8
Thailand                               88
Togo                                    2
Tonga                                   4
Trinidad and Tobago                    54
Tunisia                                38
Turkey                                382
Uganda                                 28
Ukraine                               440
United Arab Emirates                    6
United States                       11368
Uruguay                                32
Uzbekistan                             76
Venezuela                              36
Vietnam                                 8
Virgin Islands                          4
Yugoslavia                            342
Independent Olympic Participants        8
Zambia                                  6
Zimbabwe                               36
Mixed team                             76
Length: 146, dtype: int64
<class 'pandas.core.series.Series'>
146