In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('oil.csv')
df=df.drop(0).dropna(axis=1)
df["Y"]=df["Y"].astype(float)
df["Y"]=(df["Y"]*100).astype(int).astype(float)/100
df["X"]=df["X"].astype(float)
df["X"]=(df["X"]*100).astype(int).astype(float)/100
df.describe().drop(['X',"Y"],axis=1)

                 U            V         absV
count  2500.000000  2500.000000  2500.000000
mean      0.005721    -0.198904     1.521121
std       1.420902     1.752008     1.756910
min     -11.341600   -10.815700     0.000000
25%      -0.430199    -0.717049     0.504017
50%       0.000160    -0.191140     0.909906
75%       0.600990     0.165770     1.794835
max       8.366340    10.304500    12.672600